name: Actualizar Tasas Automatico

on:
  schedule:
    # 20:00 UTC es 4:00 PM en Venezuela
    - cron: '0 20 * * 0' # Se ejecuta los DOMINGOS a las 4pm
  workflow_dispatch: # Esto es para que puedas darle a un boton y probarlo cuando quieras

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Actualizar precios.txt
        run: |
          echo "282.60,331.19" > precios.txt

      - name: Commit y Push de los cambios
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add precios.txt
          git commit -m "Actualizacion automatica de montos"
          git push
